* {
	margin: 0;
	box-sizing: border-box;
}

.main {
    position:fixed;
	width: 100vw;
	height: 100vh;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	background: #212121;
	padding-top: 10vh;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 10vh;
	display: flex;
	background: #212121;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}

#logo {
	color: #00C853;
	margin-left: 5vw;
	font-size: 1.5em;
	font-weight: 300;
}

#logo.logoTheme {
	color: #1E88E5;
}


#mobileBtn {
	position: absolute;
	right: 110vw;
	top: 1.5vh;
    background: none;
	color: #00C853;
	border: none;
	font-size: 18pt;
	font-weight: 300;
	outline: none;
	padding: 1.6vh 1vw;
	text-transform: uppercase;
}

#mobileBtn.btnClose {
	display: none;
}

.mobileBtn.mbTheme {
	color: #1E88E5;
}

#nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: #212121;
	z-index: 20;
	transform: translateX(105%);
	transition: 0.8s;
	border: none;
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}

.menu {
	position: relative;
	width: 90vw;
	height: 80vh;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}

#nav h2 {
	position: absolute;
	left: 20px;
	top: 20px;
	font-weight: 300;
	color: #00C853;
	top: 20px;
	letter-spacing: 1px;
}

.menu h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #00C853;
}

#nav i {
	position: absolute;
	color: #00C853;
    bottom: 10vh;
	transform: translateX(50%);
	right: 50%;
	font-size: 40px;
}

.btnNav {
  background: none;
  border: 1px solid #00C853;
  color: #00C853;
  text-transform: uppercase;
  font-weight: 300;
	letter-spacing: 0.5px;
  width: 220px;
	margin: 15px 0 0 0;
  outline: none;
  cursor: default;
  font-size: 14px;
  padding: 15px 0;
  border-radius: 5px;
}

.btnNav.btnTheme {
	background: #673AB7;
	color: #fff;
}

#nav.active {
	transform: translateX(0%);
	transition: 0.5s;
}

.form {
	color: #fff;
	width: 100vw;
	height: 90vh;
}

.form p input[type="text"] {
	height: 20vh;
	padding: 0 5vw;
	outline: none;
	background: none;
	border: none;
	font-size: 1.6em;
	font-weight: 300;
	letter-spacing: 1px;
	color: #000;
}

.activeLayer {
  display: block;
}

.feedback {
	position: absolute;
	z-index: 4;
	left: 50%;
	top: 150px;
	width: 320px;
	text-align: center;
	display: none;
	transform: translateX(-50%);
  	background: #212121;
	padding: 15px 10px;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.activeFeedBack {
  display: block;
}

.fbTheme {
	background: #fff;
}

.feedback input[type="text"] {
	border-bottom: 2px dashed #1B5E20;
	border-top: none;
	border-left: none;
	letter-spacing: 1px;
	font-weight: 300;
  	color: #1B5E20;
	border-right: none;
	width: 255px;
	padding: 18px 5px;
	outline: none;
	font-size: 18px;
	background: none;
}

.formTextArea {
	background-color: rgba(0,0,0,0.1);
	width: 285px;
	margin: 10px auto;
	border-radius: 5px;
	border: none;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
}

.feedback h2 {
	color: #00C853;
	margin-bottom: 15px;
	padding-top: 0;
	font-weight: 300;
}

.feedback textarea {
	width: 250px;
	height: 100px;
	padding: 12px 0 0 5px;
	font-size: 19px;
  	font-weight: 300;
	resize: none;
	border: none;
  	color: #1B5E20;
	outline: none;
	background: none;
	letter-spacing: 1px;
}

#journal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 20vh;
	border: none;
	resize: none;
	padding: 1.5vh 2vw;
	font-size: 2em;
	background: #1a1a1a;
	color: #00C853;
	transition: 0.1s;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.75);
	visibility: hidden;
	z-index: 2;
}

#journal.noteActive {
	display: block;
	visibility: visible;
	height: 77vh;
}

.feedback button {
	border: 1px solid #00C853;
	outline: none;
	cursor: pointer;
	padding: 12px 20px;
	margin-top: 5px;
    color: #00C853;
	letter-spacing: 0.5px;
	font-size: 16px;
	font-weight: 300;
	border-radius: 3px;
	background: none;
}
.wrapper {
	background-color: #fff;
	width:358px;
	border-radius: 10px;
	margin: 0 auto;
	border: none;
}
.textArea {
	background: rgba(0,0,0,0.2);
	width: 100vw;
	height: 20vh;
	padding: 1.5vh 2vw;
	color: #00C853;
	font-size: 2em;
	border: none;
	resize: none;
	transition: 0.2s ease;
	outline: none;
	box-shadow: inset 0 0 8px rgba(0,0,0,0.75);
}

#n1.taActive {
	height: 76vh;
}

.textArea.taTheme {
	background: #fff;
}

.exp {
	display: flex;
	justify-content: center;
	align-items: center;
}



::-webkit-input-placeholder { color: #00C853; letter-spacing: 1px;}

::-moz-placeholder { color: #00C853; letter-spacing: 1px;}/* Firefox 19+ */

:-moz-placeholder { color: #00C853; letter-spacing: 1px; }/* Firefox 18- */
:-ms-input-placeholder { color: #00C853; letter-spacing: 1px; }

.btn {
  width: 25vw;
	height: 14vh;
	border: 0.1px solid rgba(0,0,0,0.4);
	outline: none;
	font-size: 1.8em;
	font-weight: 300;
	background: rgba(0, 0, 0, 0.1);
	color: #00C853;
}

.btn.btn_numb_theme {
	background: #1E88E5;
}

.clear {
  width: 25vw;
  height: 14vh;
  border: 0.1px solid rgba(0,0,0,0.4);
  outline: none;
  color: #B71C1C;
  font-weight: 300;
  letter-spacing: 1.5px;
  background: rgba(0,0,0,0.1);
  font-size: 1.5em;
}

.equal {
	width: 25vw;
	background: rgba(0,0,0,0.1);
	color: #0D47A1;
}

.clear.clTheme {
  background: #E53935;
}

.clbutt {
	height: 20vh;
	width: 20vw;
	border: none;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 4em;
	font-weight: 300;
	color: #00C853;
	border-top-right-radius: 8px;
	outline: none;
	background: none;
}

.clbutt img {
	padding-top: 1vh;
	padding-right: 1.5vh;
	color: #00C853;
}

#numBlock {
	width: 100vw;
	height: 70vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

#numBlock.nbActive {
	transition: 0.5s;
	//transform: translateY(80%);
}

#numBlock.nbTheme {
	background: #1E88E5;
}

#aboutMenu.aboutActive {
	display: block;
}

#aboutMenu {
	position: absolute;
	left: 50%;
	top: 150px;
  	transform: translateX(-50%);
	z-index: 4;
	text-align: center;
	width: 230px;
  	background: #212121;
	padding: 10px;
	color: #00C853;
	display: none;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

#aboutMenu.aboutTheme {
	background: #fff;
	color: #000;
}

#aboutMenu h3 {
	font-weight: 300;
	padding: 10px 0 10px 0;
	text-transform: uppercase;
}

#aboutMenu p {
	padding: 20px 0;
	font-size: 18px;
  font-weight: 300;
}

#aboutMenu button {
	border: 1px solid #00C853;
	padding: 12px 0;
	width: 60px;
	outline: none;
  	color: #00C853;
	font-weight: 300;
	background: none;
	border-radius: 5px;
	margin-bottom: 10px;
}

#settings {
	width: 200px;
  background: #212121;
	position: absolute;
	left: 50%;
	top: 150px;
  transform: translateX(-50%);
	z-index: 5;
	color: #00C853;
	line-height: 2;
	display: none;
	padding: 5px;
	text-align: center;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

#settings.setTheme {
	background: #fff;
	color: #000;
}

#settings h2 {
	text-transform: uppercase;
	margin-top: 15px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 300;
}

#settings h3 {
	text-align: left;
	margin-left: 15px;
	margin-bottom: 15px;
	font-size: 25px;
	font-weight: 300;
}

#settings p {
	margin: 15px 0 10px 0;
	font-size: 20px;
	text-align: center;
  font-weight: 300;
}

#settings p input[type="radio"] {
	vertical-align: middle;
	transform: scale(1.8);
        background: none;
        border: 1px solid #1B5E20;
}

#settings button {
	width: 60px;
	padding: 12px 0;
	margin: 15px auto;
	border-radius: 5px;
   	color: #00C853;
	border: 1px solid #00C853;
	letter-spacing: 0.5px;
	font-weight: 300;
	background: none;
	outline: none;
}

#settings.setActive {
	display: block;
}

.notes {
	position: relative;
	padding: 10px;
	text-align: center;
}
.notes h3 {
	text-align: center;
	color: #00C853;
	text-transform:uppercase;
	font-weight: 300;
	margin: 5px 0 13px 0;
}
.notes textarea {
	width: 218px;
	height: 200px;
	border-radius: 5px;
	border: 1px solid #00C853;
	resize: none;
	color: #00C853;
	line-height: 1.5;
	background: rgba(0,0,0,0.1);
	font-size: 16px;
	outline: none;
	padding: 10px 10px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
}

.clearBtn {
	position: absolute;
	top: 14px;
	right: 10px;
	padding: 5px 8px;
	border: 1px solid #B71C1C;
	letter-spacing: 1px;
	background: none;
    color: #B71C1C;
	text-transform: uppercase;
  	font-size: 10px;
	border-radius: 3px;
	outline: none;
	cursor:default;
}
