* {
	margin: 0;
	box-sizing: border-box;
}

.main {
	position:fixed;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	background: rgba(0,0,0,0.8);
        overflow: hidden;
}

.header {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
	color: #00C853;
	margin-left: 3vw;
	font-size: 1.5em;
	font-weight: 300;
}

#logo.logoTheme {
	color: #1E88E5;
}


#mobileBtn {
	position: absolute;
	right: 104vw;
	top: 2vh;
        background: none;
	color: #00C853;
	border: none;
	font-size: 18pt;
	font-weight: 300;
	outline: none;
	padding: 1vh 3vw;
	text-transform: uppercase;
}

#mobileBtn.btnClose {
	display: none;
}

.mobileBtn.mbTheme {
	color: #1E88E5;
}

#nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: #252525;
	z-index: 20;
	transform: translateX(103%);
	transition: 0.8s;
	border: none;
  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}

.menu {
	position: relative;
	width: 80vh;
	height: 70vh;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}

#nav h2 {
	position: absolute;
	left: 20px;
	top: 20px;
	font-weight: 300;
	color: #00C853;
	top: 20px;
	letter-spacing: 1px;
}

.menu h3 {
	font-weight: 300;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #00C853;
}

#nav img {
	position: absolute;
	color: #00C853;
        bottom: 5vh;
	transform: translateX(50%);
	right: 50%;
	font-size: 40px;
        width: 48px;
        height: 48px;
}

.btnNav {
  background: rgba(0, 180, 70, 0.5);
  border: none;
  color: rgba(255,255,255,0.6);
  text-transform: uppercase;
  font-weight: 300;
	letter-spacing: 0.5px;
  width: 50vw;
	margin: 15px 0 0 0;
  outline: none;
  cursor: default;
  font-size: 0.8em;
  padding: 2vh 0;
  border-radius: 5px;
}

.btnNav.btnTheme {
	background: #673AB7;
	color: #fff;
}

#nav.active {
	transform: translateX(0%);
	transition: 0.5s;
}

.form {
	color: #fff;
	width: 100vw;
	height: 90vh;
}

.form p input[type="text"] {
	height: 9vh;
	padding: 0 2vw;
	outline: none;
	background: none;
	border: none;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 0.5em;
	color: #000;
}

.activeLayer {
  display: block;
}

.feedback {
	position: absolute;
	z-index: 4;
	left: 50%;
	top: 150px;
	width: 320px;
	text-align: center;
	display: none;
	transform: translateX(-50%);
  background: #212121;
	padding: 15px 10px;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.activeFeedBack {
  display: block;
}

.fbTheme {
	background: #fff;
}

.feedback input[type="text"] {
	border-top: none;
	border-left: none;
	letter-spacing: 1px;
	font-weight: 300;
  color: #1B5E20;
	border-right: none;
	width: 255px;
	padding: 18px 5px;
	outline: none;
	font-size: 18px;
	background: none;
}

.formTextArea {
	background-color: #3b3b3b;
	width: 285px;
	margin: 10px auto;
	border-radius: 5px;
	border: 1px solid #1B5E20;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
}

.feedback h2 {
	color: #00C853;
	margin-bottom: 15px;
	padding-top: 0;
	font-weight: 300;
}

.feedback textarea {
	width: 250px;
	height: 100px;
	padding: 12px 0 0 5px;
	font-size: 19px;
  font-weight: 300;
	resize: none;
	border: none;
  color: #1B5E20;
	outline: none;
	background: none;
	letter-spacing: 1px;
}

.feedback button {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 12px 20px;
	margin-top: 5px;
  color: #fff;
	letter-spacing: 0.5px;
	font-size: 16px;
	font-weight: 300;
	border-radius: 3px;
	background: rgba(0,180,70,0.5);
}
.wrapper {
	background-color: #fff;
	width:358px;
	border-radius: 10px;
	margin: 0 auto;
	border: none;
}
.textArea {
	background: rgb(59,59,59);
	width: 92vw;
	height: 18vh;
	margin: 0 auto;
  border: 0.5px solid #212121;
	outline: none;
}

.textArea.taTheme {
	background: #1E88E5;
}

.exp {
	display: flex;
	justify-content: center;
	align-items: center;
}

#n1 {
	width: 74vw;
	color: #00C853;
	background: none;
  letter-spacing: 0.1em;
	text-align: left;
	border-bottom: 1px solid #00C853;
}

#n2 {
	width: 90.5vw;
	text-align: right;
	opacity: 1;
  letter-spacing: 0.1em;
	background: none;
	color: #00C853;
}
::-webkit-input-placeholder { color: #00C853; letter-spacing: 1px;}

::-moz-placeholder { color: #00C853; letter-spacing: 1px;}/* Firefox 19+ */

:-moz-placeholder { color: #00C853; letter-spacing: 1px; }/* Firefox 18- */
:-ms-input-placeholder { color: #00C853; letter-spacing: 1px; }

.btn {
  width: 23vw;
	height: 9vh;
	border: 0.5px solid #212121;
	outline: none;
	font-size: 24px;
	font-weight: 300;
	//border-radius: 10px;
	background: rgba(0, 180, 70, 0.5);
	color: rgba(255,255,255,0.6);
	//margin: 1vh;
}

.btn.btn_numb_theme {
	background: #1E88E5;
}

.clear {
  width: 23vw;
  height: 9vh;
  border: 0.5px solid #212121;
  outline: none;
  color: rgba(255,255,255,0.6);
  font-weight: 300;
	letter-spacing: 1px;
  background: rgba(230,60,0,0.6);
  font-size: 1em;
}

.journal {
	background: rgba(0, 80, 250, 0.4);
	color: rgba(255,255,255,0.6);
	border: 0.5px solid #212121;
	outline: none;
	font-size: 1.3em;
	font-weight: 300;
	width: 46vw;
	height: 9vh;
}

.clear.clTheme {
  background: #E53935;
}

.clbutt {
	height: 9vh;
	width: 20vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 1px solid #00C853;
	border-top: none;
	border-left: none;
	font-weight: 300;
	border-right: none;
	border-top-right-radius: 8px;
	outline: none;
	background: none;
}

.clbutt img {
	margin-right: 2vw;
}

#numBlock {
	width: 100vw;
	height: 55vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#aboutMenu.aboutActive {
	display: block;
}

#aboutMenu {
	position: absolute;
	left: 50%;
	top: 150px;
  transform: translateX(-50%);
	z-index: 4;
	text-align: center;
	width: 230px;
  background: #212121;
	padding: 10px;
	color: #00C853;
	display: none;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

#aboutMenu.aboutTheme {
	background: #fff;
	color: #000;
}

#aboutMenu h3 {
	font-weight: 300;
	padding: 10px 0 10px 0;
	text-transform: uppercase;
}

#aboutMenu p {
	padding: 20px 0;
	font-size: 18px;
  font-weight: 300;
}

#aboutMenu button {
	border: none;
	padding: 12px 0;
	width: 60px;
	outline: none;
  color: #fff;
	font-weight: 300;
	background: rgba(0, 180, 70, 0.5);
	border-radius: 5px;
	margin-bottom: 10px;
}

#settings {
	width: 200px;
  background: #212121;
	position: absolute;
	left: 50%;
	top: 150px;
  transform: translateX(-50%);
	z-index: 5;
	color: #00C853;
	line-height: 2;
	display: none;
	padding: 5px;
	text-align: center;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

#settings.setTheme {
	background: #fff;
	color: #000;
}

#settings h2 {
	text-transform: uppercase;
	margin-top: 15px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 300;
}

#settings h3 {
	text-align: left;
	margin-left: 15px;
	margin-bottom: 15px;
	font-size: 25px;
	font-weight: 300;
}

#settings p {
	margin: 15px 0 10px 0;
	font-size: 20px;
	text-align: center;
  font-weight: 300;
}

#settings p input[type="radio"] {
	vertical-align: middle;
	transform: scale(1.8);
        background: none;
        border: 1px solid #1B5E20;
}

#settings button {
	width: 60px;
	padding: 12px 0;
	margin: 15px auto;
	border-radius: 5px;
  color: #fff;
	border: none;
	letter-spacing: 0.5px;
	font-weight: 300;
	background: rgba(0,180,70,0.5);
	outline: none;
}

#settings.setActive {
	display: block;
}

.notes {
	position: relative;
	padding: 10px;
	text-align: center;
}
.notes h3 {
	text-align: center;
	color: #00C853;
	text-transform:uppercase;
	font-weight: 300;
	margin: 5px 0 13px 0;
}
.notes textarea {
	width: 50vw;
	height: 27vh;
	border-radius: 5px;
	border: 1px solid #1B5E20;
	resize: none;
	color: #00C853;
	line-height: 1.5;
	background: rgba(255,255,255,0.1);
	font-size: 16px;
	outline: none;
	padding: 10px 10px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
}

.clearBtn {
	position: absolute;
	top: 14px;
	right: 10px;
	padding: 5px 8px;
	border: 1px solid rgba(240,70,0,0.5);
	letter-spacing: 1px;
	background: none;
  color: rgba(240,70,0,0.5);
	text-transform: uppercase;
  font-size: 10px;
	border-radius: 3px;
	outline: none;
	cursor:default;
}
