* {
	margin: 0;
}

.main {
	position:fixed;
	width: 100%;
	left: 50%;
	transform:translateX(-50%);
	z-index: 0;
}

#bodys {
	transition: 0.5s;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	background: #212121;
	transition: 0.3s;
  overflow: hidden;
}

#bodys.load {
	transition: 0.3s;
}

.header {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
	color: rgba(255,255,255,0.6);
	margin-left: 15px;
	font-size: 25px;
	font-weight: 300;
	transition: 0.3s;
}

#logo.logoTheme {
	color: #1E88E5;
}

#mobileNav {
	margin-right: 15px;
}

.mobileBtn {
  background: none;
	color: rgba(255,255,255,0.6);
	border: none;
	font-size: 18pt;
	font-weight: 300;
	outline: none;
	padding: 8px 8px;
	text-transform: uppercase;
}

.mobileBtn.mbTheme {
	color: #1E88E5;
}

#nav {
  position: absolute;
  width: 360px;
  top: 90px;
  left: 50%;
  overflow-x: hidden;
  transform: translateX(-50%);
	z-index: 0;
	transition: 0.8s;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.btnNav {
  background: none;
  border: 1px solid #1B5E20;
  color: rgba(255,255,255,0.6);
  text-transform: uppercase;
  font-weight: 300;
  width: 100px;
  outline: none;
  cursor: default;
  font-size: 14px;
  padding: 15px 0;
  border-radius: 5px;
}

.btnNav.btnTheme {
	background: #673AB7;
	color: #fff;
}

#nav.active {
	top: 65px;
	transition: 0.5s;
}

.form {
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);
	color: #fff;
	width: 400px;
	text-align: center;
	transition: 0.8s;
	z-index: 1;
}

#form.activeForm {
	margin-top: 55px;
	transition: 0.5s;
}

.form p input[type="text"] {
	padding: 18px;
	outline: none;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #000;
}

.activeLayer {
  display: block;
}

.feedback {
	position: absolute;
	z-index: 4;
	left: 50%;
	top: 150px;
	width: 320px;
	text-align: center;
	display: none;
	transform: translateX(-50%);
	/*background-color: rgba(0, 0, 0, 0.8);*/
        background: #212121;
	padding: 15px 10px;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.activeFeedBack {
  display: block;
}

.fbTheme {
	background: #fff;
}

.feedback input[type="text"] {
	border-bottom: 2px dashed rgba(0, 0, 0, 0.8);
	border-top: none;
	border-left: none;
	letter-spacing: 1px;
	font-weight: 300;
	border-right: none;
	width: 255px;
	padding: 15px;
	outline: none;
	font-size: 18px;
	background: none;
}

.formTextArea {
	background-color: #BDBDBD;
	width: 285px;
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
}

.feedback h2 {
	color: #fff;
	margin-bottom: 15px;
	padding-top: 0;
	font-weight: 300;
}

.feedback textarea {
	width: 260px;
	height: 100px;
	padding: 12px 16px 0 16px;
	font-size: 19px;
  font-weight: 300;
	resize: none;
	border: none;
	outline: none;
	background: none;
	letter-spacing: 1px;
}

.feedback button {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 12px 20px;
	margin-top: 5px;
	font-size: 16px;
	font-weight: 300;
	border-radius: 3px;
	background-color: #2E7D32;
}
.textArea {
	background: #212121;
	width: 358px;
	margin: 0 auto;
        border: 1px solid #1B5E20;
	outline: none;
	border-radius: 8px;
}

.textArea.taTheme {
	background: #1E88E5;
}

.exp {
	display: flex;
	justify-content: center;
	align-items: center;
}

#n1 {
	width: 300px;
	color: #00C853;
	background: none;
	opacity: 1;
        letter-spacing: 1px;
	text-align: left;
	margin: 0;
	border-bottom: 1px solid #1B5E20;
}

#n2 {
	width: 330px;
	text-align: right;
	opacity: 1;
        letter-spacing: 1px;
	background: none;
	color: #00C853;
}
::-webkit-input-placeholder { color: #00C853; letter-spacing: 1px;}

::-moz-placeholder { color: #00C853; letter-spacing: 1px;}/* Firefox 19+ */

:-moz-placeholder { color: #00C853; letter-spacing: 1px; }/* Firefox 18- */
:-ms-input-placeholder { color: #00C853; letter-spacing: 1px; }

.btn {
  width: 79px;
	height: 60px;
	border: 1px solid #1B5E20;
	outline: none;
	font-size: 24px;
	font-weight: 300;
	border-radius: 5px;
	background: none;
	color: rgba(255,255,255,0.6);
	margin: 7px;
}

.btn.btn_numb_theme {
	background: #1E88E5;
}

.clear {
  width: 174px;
  padding: 18px;
  border: 1px solid rgba(240,40,0,0.5);
  outline: none;
  margin: 0 6px;
  color: rgba(255,255,255,0.6);
  font-weight: 300;
  border-radius: 5px;
  background: none;
  font-size: 20px;
}

.clear.clTheme {
  background: #E53935;
}

.clbutt {
	padding: 18.5px;
	width: 57.5px;
	border-bottom: 1px solid #1B5E20;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #1B5E20;
	border-top-right-radius: 8px;
	outline: none;
	background: none;
	font-size: 20px;
}

#numBlock {
	width: 400px;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#aboutMenu.aboutActive {
	display: block;
}

#aboutMenu {
	position: absolute;
	left: 50%;
	top: 150px;
  transform: translateX(-50%);
	z-index: 4;
	text-align: center;
	width: 230px;
        background: #212121;
	padding: 10px;
	color: #fff;
	display: none;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

#aboutMenu.aboutTheme {
	background: #fff;
	color: #000;
}

#aboutMenu h3 {
	font-weight: 300;
	padding: 10px 0 10px 0;
	text-transform: uppercase;
}

#aboutMenu p {
	padding: 20px 0;
	font-size: 18px;
  font-weight: 300;
}

#aboutMenu button {
	border: none;
	padding: 12px 0;
	width: 60px;
	outline: none;
	background: #2E7D32;
	border-radius: 5px;
	margin-bottom: 10px;
}

#settings {
	width: 200px;
        background: #212121;
	position: absolute;
	left: 50%;
	top: 150px;
  transform: translateX(-50%);
	z-index: 5;
	color: #fff;
	line-height: 2;
	display: none;
	padding: 10px;
	text-align: center;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

#settings.setTheme {
	background: #fff;
	color: #000;
}

#settings h2 {
	text-transform: uppercase;
	margin-top: 15px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 300;
}

#settings h3 {
	text-align: left;
	margin-left: 15px;
	margin-bottom: 15px;
	font-size: 25px;
	font-weight: 300;
}

#settings p {
	margin: 15px 0 10px 0;
	font-size: 20px;
	text-align: center;
  font-weight: 300;
}

#settings p input[type="radio"] {
	vertical-align: middle;
	transform: scale(1.8);
}

#settings button {
	width: 60px;
	padding: 12px 0;
	margin: 15px auto;
	border-radius: 5px;
	border: none;
	background: #2E7D32;
	outline: none;
}

#settings.setActive {
	display: block;
}

.notes {
	position:absolute;
	top: 68.5px;
	right: 10px;
	z-index: 4;
        background: #212121;
	padding: 10px;
	transform:translateX(105%);
	text-align: center;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
	transition: All 0.5s ease;
}
.notes h3 {
	text-align: center;
	color: #fff;
	text-transform:uppercase;
	font-weight: 300;
	padding-bottom: 10px;
}
.notes textarea {
	width: 200px;
	height: 235px;
	border-radius: 5px;
	border: 1px solid #1B5E20;
	resize: none;
	color: #000;
	line-height: 1.5;
	background: #212121;
	font-size: 16px;
	outline: none;
	padding: 10px 10px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
}
.leftBtn {
	position:absolute;
	top: 61.5px;
	right: 230px;
	background: #212121;
	padding: 19px 15px 19px 10px;
	border: 1px solid #1B5E20;
	outline: none;
	color: #fff;
	cursor:default;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	font-size: 18px;
	transition: 0.5s;
	z-index: 16;
}
.clearBtn {
	position:absolute;
	top: 0.6px;
	right: 10px;
	padding: 2px 8px;
	border: none;
	background: #2E7D32;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	outline: none;
	cursor:default;
}
.notesDown {
 top: 123.4px;
}
.notesActive {
	transform:translateX(0%);
}

@media (max-width: 419px) {
	.textArea {
		width: 341px;
	}
	#numBlock {
		width: 362px;
	}
	.btn {
	  width: 74px;
		height: 57px;
		font-size: 22px;
	}
	.clear {
		width: 164px;
		height: 57px;
	}
	#n1 {
		width: 290px;
	}
	#n2 {
		width: 310px;
	}
	#nav {
		width: 339px;
	}
	.btnNav {
		width: 95px;
	}
}

@media (max-width: 396px) {
	.textArea {
		width: 300px;
	}
	#numBlock {
		width: 316px;
	}
	.btn {
	  width: 64px;
		height: 50px;
		font-size: 18px;
	}
	.clear {
		width: 143px;
		height: 50px;
		font-size: 18px;
	}
	.form p input[type="text"] {
		padding: 13px 10px;
		font-size: 16px;
	}
	.clbutt {
		height: 44.5px;
		width: 44.5px;
	}
	#nav.active {
		top: 74px;
	}
	.clbutt img {
		width: 20px;
	}
	#n1 {
		width: 243px;
	}
	#n2 {
		width: 281px;
	}
	#nav {
		width: 300px;
	}
	.btnNav {
		width: 85px;
		padding: 13px;
		font-size: 12px;
	}
}

@media (max-width: 355px) {
	.textArea {
		width: 260px;
	}
	#numBlock {
		width: 316px;
		margin: 5px auto;
	}
	.header {
		height: 50px;
	}
	#nav.active {
		top: 55px;
	}
	#logo {
		font-size: 22px;
	}
	.mobileBtn {
		font-size: 15pt;
	}
	.form {
		top: 50px;
	}
	.btn {
	  width: 54px;
		height: 44px;
		font-size: 18px;
	}
	.leftBtn {
		top: 56.5px;
		padding: 16px 20px 16px 8px;
	}
	.clear {
		width: 124px;
		height: 44px;
	}
	#n1 {
		width: 187px;
	}
	#n2 {
		width: 230px;
	}
	#nav {
		width: 260px;
	}
	.nav.active {
		top: 74px;
	}
	.btnNav {
		width: 75px;
		padding: 13px 0;
		font-size: 13px;
	}
	.form p input[type="text"] {
		padding: 12px;
		font-size: 15px;
	}
	.clbutt {
		height: 41.5px;
	}
}
