* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Comfortaa';
  background: #202833;
  font-weight: lighter;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.appHeader {
  width: 100%;
  height: 10%;
  justify-content: space-between;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
}

.appHeader h1 {
  width: 75%;
  font-size: 3.5vh;
  font-weight: 200;
  margin-left: 20px;
  color: #fff;
  letter-spacing: 2px;
}

.appHeader button {
  width: 25%;
  height: 100%;
  background: #054b54;
  background-image: url('/bg3.png') !important;
  font-size: 3vh;
  font-weight: lighter;
  color: #fff;
  border: none;
  outline: none;
}

.ioBoard {
  width: 100%;
  height: 30%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ioBoard textarea {
  width: 100%;
  height: 75%;
  resize: none;
  border: none;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  text-align: right;
  outline: none;
  padding: 15px;
  letter-spacing: 2px;
  font: 200 4vh 'Comfortaa';
}

.numBlock {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.panel {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
}

.panel button {
  width: 25%;
  height: 100%;
  background: none;
  border: none;
  color: #fafafa;
  font-size: 2.3vh;
  outline: none;
}

.numBtn {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.numBtn button {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.4);
  font-size: 3.5vh;
  font-weight: 200;
  color: #fafafa;
}

.equal {
  background: #054b54 !important;
  color: #fff !important;
  font-size: 4vh !important;
  background-image: url('/bg3.png') !important;
}

.vt {
  color: #fff !important;
  background: #054b54 !important;
  font-size: 3vh !important;
  background-image: url('/bg3.png') !important;
}

#n1::placeholder {
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: 'Comfortaa';
  font-size: 4vh;
}

#percentCalc {
  position: absolute;
  visibility: hidden;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background: #202833;
}

#percentCalc.percAct {
  visibility: visible;
}

.percentBoard {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.percentBoard input[type="text"] {
  width: 100%;
  height: 33.3%;
  padding: 0 0 0 20px;
  background: none;
  border: none;
  color: #fff;
  font-size: 3vh;
  font-family: 'Comfortaa';
  font-weight: 200;
  letter-spacing: 2px;
  outline: none;
}

.percentBoard input[type="text"]::placeholder {
  font-size: 3vh;
  color: #fff;
  font-family: 'Comfortaa';
  font-weight: 200;
  letter-spacing: 2px;
}

.inpBoard {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ok {
  grid-column: 4;
}

.zero {
  grid-column: 3;
  grid-row: 4;
}

.per {
  grid-column: 4;
  grid-row: 2/4;
}

.inpBoard button {
  border: none;
  outline: none;
  color: #fff;
  font-size: 3.5vh;
  font-weight: 200;
  background: rgba(0, 0, 0, 0.4);
}

.numIn {
  grid-row: 4;
  grid-column: 1/3;
}